.main {
    position: relative;
    margin: 20px 5px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.box {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    margin: 40px;
    border: 4px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.6); 
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 200px auto;
    border: 1px solid rgba(0, 128, 0, .2);
    background: rgba(0, 128, 0, .2);
}

input[type="button"] {
    height: 25px;
    border: 1px solid rgba(0, 128, 0, .3);
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 128, 0, .3);
    background: linear-gradient(to top, rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 1));
    color: aliceblue;
    cursor: pointer;
}

input[type="button"]:active {
    background: linear-gradient(to bottom, rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 1));
} 

label {
    padding: 0 10px 0 10px;
    font-size: 18px;
    font-weight: bold;
}

input[type=text] {
    margin: 0 0 0 10px;
    width: 30px;
}

.colors {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.red,
.green,
.blue {
    width: 60px;
    height: 60px;
}

.red {
    border: 4px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.6);
}

.green {
    border: 4px solid rgb(0, 128, 0);
    background-color: rgba(0, 128, 0, 0.6);
}

.blue {
    border: 4px solid rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.6);
}